<html ng-app="clientApp">

<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
</head>

<body ng-controller="clientController">
	<div class="container">

		<div class="row col-md-4 col-md-offset-4" style="margin-top:6em"  ng-show="getOrg">
			<div class="form-group ">
					<h3 class="text-center">Enter the Organisation's Name</h3>
					<hr/>
					<input ng-model="organisation" type="text" class="form-control" name="organisation" id="organisation" placeholder="Organisation">

			</div>
			<hr/>
			<button type="submit" class="btn btn-primary" ng-click="submitOrg()">Submit</button>
		</div>
		<div class="row" ng-show="getcredentials">
			<form class="col-md-6 col-md-offset-3" style="margin-top:3em">
				<h3 class="text-center">Enter Database Details</h3>
				<hr/>
				<div class="form-group">
					<label for="dbms">DBMS</label>
					<select ng-model="dbms" class="form-control" name="dbms" id="dbms">
						<option value="mysql" selected>MySQL</option>
						<option value="bahmni">Bahmni</option>
						<option value="postgres">PostgreSQL</option>
					</select>
				</div>
				<div class="form-group">
					<label for="host">Host</label>
					<input ng-model="host" type="text" class="form-control" name="host" id="host" placeholder="host">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input ng-model="username" type="text" class="form-control" name="username" id="username" placeholder="username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input ng-model="password" type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="database">Database</label>
					<input ng-model="database" type="text" class="form-control" id="database" name="database" placeholder="Database Name">
				</div>
				<hr/>
				<button type="submit" class="btn btn-primary" ng-click="credentialsSubmit()">Submit</button>
			</form>
		</div>
		<div class="row" ng-show="selectTables">

			<form class="col-md-6 col-md-offset-3" style="margin-top:3em">
				<h3 class="text-center">Select Tables to export</h3>
				<hr/>
				<div class="row" style="padding:1em;overflow-y:scroll;;height:350px">
					<table class="table table-hover table-bordered table-striped" >
						<thead>
							<th>Select</th>
							<th>Table</th>
						</thead>
						<tbody>
							<tr ng-repeat="table in tableNames">
								<td>
									<input type="checkbox" name="{{table}}" value="{{table}}"/>
								</td> 
								<td>{{table}}</td>
							</tr>
						</tbody>
					</table>
					
				</div>
				<hr/>
				<button type="submit" class="btn btn-primary" ng-click="tablesSubmit()">Submit</button>
			</form>
		</div>
		<div class="row" ng-show="selectColumns" id="selectColumns">

			<form class="col-md-6 col-md-offset-3" style="margin-top:3em">
				<h3 class="text-center">Select Columns to export</h3>
				<hr/>
				<div ng-repeat="(table,columns) in columns_in_tables"class="row" style="padding:1em">
					<label><h4>{{table}}</h4></label>
					
					<div style="overflow-y:scroll;height:200px;">
						<table class="table table-hover table-bordered table-striped" >
							<thead>
								<th>Select</th>
								<th>Column</th>
							</thead>
							<tbody>
								<tr ng-repeat="column in columns">
									<td>
										<input type="checkbox" name="{{table}}" value="{{column.column_name}}"/>
									</td> 
									<td>{{column.column_name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr/>
				<button type="submit" class="btn btn-primary" ng-click="columnsSubmit()">Submit</button>
			</form>
		</div>
		<div class="row" ng-show="columnDetails" id="columnDetails">

			<form class="col-md-12" style="margin-top:3em">
				<label><h3>Enter Column Details</h3></label>
				<hr/>
				<div ng-repeat="(table,columns) in selectedColumns"class="row" style="padding:1em">
					<table class="table table-hover table-bordered table-striped" id="{{table}}">
					  <thead>
					  	<tr><h3>{{table}}</h3></tr>
						<tr>
						  	<th>Column</th>
						  	<th>Type</th>
							<th>Code-system</th>
						  	<th>Column Code</th>
						  	<th>Column Code Code-system</th>
						  	<th>Description</th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="column in columns" class="column" name="{{column}}">
						  <td>{{column}}</td>
						  <td>
						  	<div>
						  		<input type="checkbox" name="{{column}}" class="encoded" style="margin:2px"> Encoded
						  		<br/>
						  		<input type="checkbox" name="{{column}}" class="patient_id" style="margin:2px"> Patient ID
						  		<br/>
						  		<input type="checkbox" name="{{column}}" class="effectiveTime" style="margin:2px"> Effective Time
						  	</div>
						  </td>
						  <td><input type="text" name="{{column}}" class="column-values-code-system"></td>
						  <td><input type="text" name="{{column}}" class="column-name-code"></td>
						  <td><input type="text" name="{{column}}" class="column-name-code-system"></td>
						  <td><input type="text" name="{{column}}" class="description"></td>
						</tr>
					  </tbody>
					</table>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="metadataSubmit()">Submit</button>
				<a id="downloadAnchorElem" style="display:none"></a>
			</form>
		</div>
	</div>
</body>

</html>